<% wrap_layout :inner do %>
    <% content_for :sidebar do %>
        <div class="docs-sidebar hidden-print affix-top" role="complementary">
            <ul class="nav docs-sidenav">
                <li<%= sidebar_current("docs-home") %>>
                    <a href="/docs/providers/index.html">All Providers</a>
                </li>

                <li<%= sidebar_current("docs-dome9-index") %>>
                    <a href="/docs/providers/dome9/index.html">Dome9 Provider</a>
                </li>

                <li<%= sidebar_current("docs-dome9-datasource") %>>
                    <a href="#">Data Sources</a>
                    <ul class="nav nav-visible">
                        <li<%= sidebar_current("docs-datasource-dome9-cloudaccount-aws") %>>
                            <a href="/docs/providers/dome9/d/cloudaccount_aws.html">dome9_cloudaccount_aws</a>
                        </li>

                        <li<%= sidebar_current("docs-datasource-dome9-cloudaccount-azure") %>>
                            <a href="/docs/providers/dome9/d/cloudaccount_azure.html">dome9_cloudaccount_azure</a>
                        </li>

                        <li<%= sidebar_current("docs-datasource-dome9-cloudaccount-gcp") %>>
                            <a href="/docs/providers/dome9/d/cloudaccount_gcp.html">dome9_cloudaccount_gcp</a>
                        </li>

                        <li<%= sidebar_current("docs-datasource-dome9-continuous-compliance-policy") %>>
                            <a href="/docs/providers/dome9/d/continuous_compliance_policy.html">dome9_continuous_compliance_policy</a>
                        </li>

                        <li<%= sidebar_current("docs-datasource-dome9-continuous-compliance-notification") %>>
                            <a href="/docs/providers/dome9/d/continuous_compliance_notification.html">dome9_continuous_compliance_notification</a>
                        </li>

                        <li<%= sidebar_current("docs-datasource-dome9-iplist") %>>
                            <a href="/docs/providers/dome9/d/iplist.html">dome9_iplist</a>
                        </li>

                        <li<%= sidebar_current("docs-datasource-dome9-ruleset") %>>
                            <a href="/docs/providers/dome9/d/ruleset.html">dome9_ruleset</a>
                        </li>

                        <li<%= sidebar_current("docs-datasource-dome9-aws-security-group") %>>
                            <a href="/docs/providers/dome9/d/aws_security_group.html">dome9_aws_security_group</a>
                        </li>

                        <li<%= sidebar_current("docs-datasource-dome9-azure-security-group") %>>
                            <a href="/docs/providers/dome9/d/azure_security_group.html">dome9_azure_security_group</a>
                        </li>

                        <li<%= sidebar_current("docs-datasource-dome9-role") %>>
                            <a href="/docs/providers/dome9/d/role.html">dome9_role</a>
                        </li>

                        <li<%= sidebar_current("docs-datasource-dome9-organizational-unit") %>>
                            <a href="/docs/providers/dome9/d/organizational_unit.html">dome9_organizational_unit</a>
                        </li>


                    </ul>
                </li>
                <li<%= sidebar_current("docs-dome9-resource") %>>
                    <a href="#">Resources</a>
                    <ul class="nav nav-visible">
                        <li<%= sidebar_current("docs-resource-dome9-cloudaccount-aws") %>>
                            <a href="/docs/providers/dome9/r/cloudaccount_aws.html">dome9_cloudaccount_aws</a>
                        </li>

                        <li<%= sidebar_current("docs-resource-dome9-cloudaccount-azure") %>>
                            <a href="/docs/providers/dome9/r/cloudaccount_azure.html">dome9_cloudaccount_azure</a>
                        </li>

                        <li<%= sidebar_current("docs-resource-dome9-cloudaccount-gcp") %>>
                            <a href="/docs/providers/dome9/r/cloudaccount_gcp.html">dome9_cloudaccount_gcp</a>
                        </li>

                        <li<%= sidebar_current("docs-resource-dome9-continuous-compliance-policy") %>>
                            <a href="/docs/providers/dome9/r/continuous_compliance_policy.html">dome9_continuous_compliance_policy</a>
                        </li>

                        <li<%= sidebar_current("docs-resource-dome9-continuous-compliance-notification") %>>
                            <a href="/docs/providers/dome9/r/continuous_compliance_notification.html">dome9_continuous_compliance_notification</a>
                        </li>

                        <li<%= sidebar_current("docs-resource-dome9-iplist") %>>
                            <a href="/docs/providers/dome9/r/iplist.html">dome9_iplist</a>
                        </li>

                        <li<%= sidebar_current("docs-resource-dome9-ruleset") %>>
                            <a href="/docs/providers/dome9/r/ruleset.html">dome9_ruleset</a>
                        </li>

                        <li<%= sidebar_current("docs-resource-dome9-aws-security-group") %>>
                            <a href="/docs/providers/dome9/r/aws_security_group.html">dome9_aws_security_group</a>
                        </li>

                        <li<%= sidebar_current("docs-resource-dome9-azure-security-group") %>>
                            <a href="/docs/providers/dome9/r/azure_security_group.html">dome9_azure_security_group</a>
                        </li>

                        <li<%= sidebar_current("docs-resource-dome9-role") %>>
                            <a href="/docs/providers/dome9/r/role.html">dome9_role</a>
                        </li>

                        <li<%= sidebar_current("docs-resource-dome9-organizational-unit") %>>
                            <a href="/docs/providers/dome9/r/organizational_unit.html">dome9_organizational_unit</a>
                        </li>

                        <li<%= sidebar_current("docs-resource-dome9-attach-iam-safe") %>>
                            <a href="/docs/providers/dome9/r/attach_iam_safe.html">dome9_attach_iam_safe</a>
                        </li>

                        <li<%= sidebar_current("docs-resource-dome9-iam-safe-entity") %>>
                            <a href="/docs/providers/dome9/r/iam_safe_entity.html">dome9_iam_safe_entity</a>
                        </li>

                    </ul>
                </li>
            </ul>
        </div>
    <% end %>

    <%= yield %>
<% end %>
